/* used to set general padding and margin to 0 before editing */
* { padding: 0; margin: 0;}

:root {
    /* use these colors for your page */
    --primary-color: #7FAAA3;
    --secondary-color: #34454E;
    --accent1-color: #C5E3DF;
    --accent2-color: #F6F8F7;
}

header {
    background-color: var(--primary-color);
    height: 100%;
}

.logo-card{
    display: flex;
    align-items:center;
}

.logo {
    width: 170px;
    height: 170px;
    padding: 20px;
}

.title {
    display: inline-block;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: inline;
    position: absolute;
    right: 0;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 10px;
}

nav a:hover{
    color: var(--accent2-color);
}

body {
    background-color: var(--accent2-color);
}

footer {
    background-color: var(--secondary-color);
    padding: 1.5em;
}

.grid {
    padding: 1.5em;
}

.socials img {
    width: 30px;
    margin: 0 10px;
    float: left;
}
